.container {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 2px #fff;
  padding: 1.5rem;
}

/* media queries */
@media (min-width: 900px) {
  .container {
    border-radius: 1rem;
    margin-left: 2rem;
  }
}