
.navbar {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  padding: 0 1rem;
  overflow-x: auto;
  scrollbar-color: #333 #776c6c;
}

/* media queries */
@media (min-width: 900px) {
  .navbar {
    flex-direction: column;
    row-gap: 0.6rem;
    background-color: black;
    padding: 0;
    margin-left: 1rem;
    width: 7rem;
  }
}